body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    background-color: #faf4ef;
    color: #47250f;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #503121;
    padding: 15px 30px;
}
.logo {
    color: white;
    font-size: 1.5em;
    margin: 0;
}
.nav-link {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-link a:hover {
    color: #f0d6b6;
}

.hero{
    text-align: center;
    padding: 60px 20px;
    background-color: #f0d6b6;
}
footer{
    background-color: black;
    color:aliceblue;
    text-align: center;
    padding: 15px;
}

.menu{
    padding: 40px 20px;
    text-align: center;
}
.menu-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.menu-card{
    background-color: #faf4ef;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0,3);
}
.menu-card img{
    width: 100%;
    border-radius: 10px;
}
.menu-card h3{
    margin: 10px 0 5px 0;
}
.menu-card p{
    color: #503121;
}
.tentang{
    text-align: center;
}
.kontak{
    text-align: left;
}